CrossMgrHtmlDoc/
SeriesMgr/SeriesMgrHtmlDoc/
env/
env38/
src/
dist/
__pycache__/
build/
helptxt/
CrossMgrHelpIndex/
*.spec
*.AppImage
*.dmg
CrossMgrImpinj/*.dmg
SeriesMgr/Model.py
SeriesMgr/LapStats.py
SeriesMgr/InSortedIntervalList.py
SeriesMgr/minimal_intervals.py
SeriesMgr/Utils.py
SeriesMgr/rsonlite.py
SeriesMgr/Checklist.py
SeriesMgr/GpxParse.py
SeriesMgr/GeoAnimation.py
SeriesMgr/Animation.py
SeriesMgr/GanttChart.py
SeriesMgr/Excel.py
SeriesMgr/arial10.py
SeriesMgr/GetResults.py
SeriesMgr/FitSheetWrapper.py
SeriesMgr/ReadSignOnSheet.py
SeriesMgr/HelpSearch.py
SeriesMgr/MatchingCategory.py
SeriesMgr/ModuleUnpickler.py
SeriesMgr/BatchPublishAttrs.py
SeriesMgr/ReadCategoriesFromExcel.py
SeriesMgr/ReadPropertiesFromExcel.py
SeriesMgr/ModuleUnpickler.py
SeriesMgr/GetMatchingExcelFile.py
SeriesMgr/SetGraphic.py
SeriesMgr/imagebrowser.py
SeriesMgr/scramble.py
