CrossMgrHtmlDoc/
SeriesMgr/SeriesMgrHtmlDoc/
env/
env38/
src/
release/
dist/
.pyw/
__pycache__/
build/
CrossMgrHelpIndex/
*.spec
*.AppImage
*.dmg
CrossMgrImpinj/*.dmg
SeriesMgr/Model.py
SeriesMgr/LapStats.py
SeriesMgr/InSortedIntervalList.py
SeriesMgr/minimal_intervals.py
SeriesMgr/rsonlite.py
SeriesMgr/Checklist.py
SeriesMgr/GpxParse.py
SeriesMgr/GeoAnimation.py
SeriesMgr/Animation.py
SeriesMgr/GanttChart.py
SeriesMgr/Excel.py
SeriesMgr/arial10.py
SeriesMgr/GetResults.py
SeriesMgr/FitSheetWrapper.py
SeriesMgr/ReadSignOnSheet.py
SeriesMgr/HelpSearch.py
SeriesMgr/MatchingCategory.py
SeriesMgr/ModuleUnpickler.py
SeriesMgr/BatchPublishAttrs.py
SeriesMgr/ReadCategoriesFromExcel.py
SeriesMgr/ReadPropertiesFromExcel.py
SeriesMgr/ModuleUnpickler.py
SeriesMgr/GetMatchingExcelFile.py
SeriesMgr/SetGraphic.py
SeriesMgr/imagebrowser.py
SeriesMgr/scramble.py
SeriesMgr/HelpIndex.py
inno_setup.txt
CrossMgrImpinj/inno_setup.txt
CrossMgrAlien/inno_setup.txt
SeriesMgr/inno_setup.txt
TagReadWrite/inno_setup.txt
CrossMgrVideo/inno_setup.txt
CrossMgrVideo/Multicast.py
CrossMgrVideo/roundbutton.py
CrossMgrVideo/Clock.py
CrossMgrCamera/Multicast.py
compile.TempPoint.ps1
..gitignore.un~
.gitignore~
.requirements.txt.un~
requirements.txt~
site/
