wheel
numpy
setuptools
requests
waitress
xlsxwriter
pygments
xlrd
openpyxl
pytz
fpdf2
xlwt
netifaces
whoosh
qrcode
tornado
ftputil
paramiko
markdown
bs4
trueskill
pybabel
opencv-python
pyinstaller
piexif
simplejpeg
virustotal-api
metaphone
-e git+https://github.com/esitarski/pyllrp.git#egg=pyllrp
wxPython
