wheel
setuptools==v44.0.0
requests
waitress
xlsxwriter
pygments
xlrd
pytz
fpdf2
xlwt
netifaces
whoosh
qrcode
tornado
ftputil
wxPython
markdown
bs4
-e git+https://github.com/esitarski/pyllrp.git#egg=pyllrp
trueskill
pyinstaller
pybabel
opencv-python
piexif
virustotal-api
