wheel
numpy==1.21.0
setuptools==v44.0.0
requests
waitress
xlsxwriter
pygments
xlrd
openpyxl
pytz
fpdf2==2.4.0
xlwt
netifaces
whoosh
qrcode
tornado
ftputil
paramiko
markdown
bs4
trueskill
pybabel
opencv-python==4.5.3.56
pyinstaller==4.5.1
piexif
simplejpeg
virustotal-api
-e git+https://github.com/esitarski/pyllrp.git#egg=pyllrp
wxPython
