[Desktop Entry]
Comment[en_CA]=
Comment=
Exec=CrossMgr
GenericName[en_CA]=CrossManagerImpinj
GenericName=CrossManagerImpinj
Icon=CrossMgrImpinj
MimeType=
Name[en_CA]=CrossManagerImpinj
Name=CrossManagerImpinj
Path=/
StartupNotify=true
Categories=Network;
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
